@mixin between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.initial {
	background-color: #FFFF;

	&__body {
		padding-top: 120px;
		// @include between;
	}

	&__content {
		// width: 100%;
		// align-items: center;

		&__title {
			text-align: start;
			margin-top: 30px;

			h1 {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 63px;
				line-height: 73px;
				letter-spacing: 2px;
				color: #134A45;
				max-width: 500px;
			}

			p {
				font-family: 'Roboto';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 28px;
				letter-spacing: 0.2px;
				color: #134A45;
				margin-top: 20px;
			}
		}

		&__search-body {
			width: 100%;
			background-color: inherit;
			height: 70px;
			border-radius: 15px;
			border: 0.6px solid #134A45;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 16px;

			margin-top: 50px;

			input {
				width: 60%;
				height: 60%;
				background-color: inherit;
				border: none;
				outline: none;
				font-size: 18px;
				color: #134A45;
			}

			button {
				width: 30%;
				height: 60%;
				border-radius: 10px;
				border: none;
				background-color: #246862;

				color: #FFF;
				font-weight: 900;
				font-size: 16px;

				&:hover {
					background-color: #134A45;
				}
			}
		}
	}

	&__image {
		position: relative;

		&__body {
			width: 100%;
			display: flex;
			gap: 30px;

			&__large {
				width: 270px;
				height: 400px;
				background-color: #134A45;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			&__both {
				display: flex;
				flex-direction: column;
				gap: 30px;

				&__image1 {
					background-color: #134A45;
					width: 240px;
					height: 255px;
					position: relative;

					&::before {
						content: '';
						display: inline-block;
						width: 90px;
						height: 90px;
						background: #134A45;
						border-radius: 50%;
						position: absolute;
						top: 15px;
						right: -60px;
						z-index: 1;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						position: relative;
						z-index: 2;
					}

				}

				&__image2 {
					background-color: #134A45;
					width: 200px;
					height: 205px;
					position: relative;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					&::after {
						content: '';
						display: inline-block;
						width: 50px;
						height: 50px;
						background: #B961CD;
						border-radius: 50%;
						position: absolute;
						bottom: 0;
						left: -250px;
					}
				}
			}
		}
	}
}
